Source: virt-viewer
Section: admin
Priority: extra
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Uploaders: Guido Günther <agx@sigxcpu.org>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, libvirt-dev, libgtk-vnc-1.0-dev (>= 0.3.4), libxml2-dev, 
 libgtk2.0-dev (>= 2.10), iceape-dev (>= 1.1.9-5), autotools-dev, quilt, automake, autoconf, libffi-dev, libtool,
 libglade2-dev
Standards-Version: 3.8.2
Vcs-Git: git://git.debian.org/git/pkg-libvirt/virt-viewer.git
Vcs-Browser: http://git.debian.org/?p=pkg-libvirt/virt-viewer.git;a=summary
Homepage: http://virt-manager.et.redhat.com/

Package: virt-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: netcat
Description: Displaying the graphical console of a virtual machine
 The console is accessed using the VNC protocol. The guest can be referred to
 based on its name, ID, or UUID. If the guest is not already running, then the
 viewer can be told to wait until is starts before attempting to connect to the
 console The viewer can connect to remote hosts to lookup the console
 information and then also connect to the remote console using the same network
 transport.

Package: mozilla-virt-viewer
Architecture: any
Section: web
Depends: ${shlibs:Depends}, ${misc:Depends},
 iceweasel | iceape-browser
Description: A virt-viewer widget for GTK+ (mozilla plugin)
 The console is accessed using the VNC protocol. The guest can be referred to
 based on its name, ID, or UUID. If the guest is not already running, then the
 viewer can be told to wait until is starts before attempting to connect to the
 console The viewer can connect to remote hosts to lookup the console
 information and then also connect to the remote console using the same network
 transport.
 .
 This package contains the experimental mozilla plugin.

