#!/usr/bin/make -f

DEB_CONFIGURE_EXTRA_FLAGS := --with-gtk=3.0 --with-spice-gtk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_auto_clean:
	[ ! -f Makefile ] || dh_auto_clean
